
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.feather {
 	width: 16px;
 	height: 16px;
 	vertical-align: text-bottom;
 	margin-right: 8px;
 }

.sidebar {
	li .active {
		background-color: #eeeeee;
	}

	.nav-link {
		padding: .5rem .5rem .5rem 1rem;
	}

	.nav-item a:hover {
		background-color: #dddddd;
	}
}

.action-row {
    color: #ddd;
    opacity: 0;

    a:hover {
	    text-decoration: none;
	    cursor: pointer;
	}
}

.carousel-indicators>li, button {
    cursor: pointer;
}

tr:hover td .action-row,
div:hover>.action-row {
    opacity: 1;
}

.stats-box {
	position: relative;
	color: $light;
	margin: 15px 0;

	.stats-text {
		padding: 15px;

		h3 {
			font-size: 2.5rem !important;
		}

		p {
			font-size: 1.25rem;
		}
	}

	.stats-icon {
		position: absolute;
		right: 15px;
		top: 10px;
		color: rgb(0,0,0);
		opacity: .3;

		.feather {
			height: 100px;
			width: 100px;
		}
	}

	.stats-link {
		color: #fff;
		text-align: center;
		display: block;
		padding: 5px;
		background: rgba(0,0,0,.2);
		opacity: .5;
	}

	a.stats-link:hover {
		opacity: 1;
		color: #fff;
		text-decoration: none;
	}
}